@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

* {
    box-sizing: border-box;
}

.container-app {
    width: 100%;
    height: 100vh;
    display: flex;
}

.container-menu {
    padding: 30px;
    width: 100%;
}

.tab-menu {
    padding: 40px 20px;
    width: 270px;
    background-color: #72C8C1;
}

.btn-menu {
    width: 100%;
    padding: 10px;
    text-align: start;
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    border: none;
    cursor: pointer;
    color: #fff;
    height: 50px;
    border-radius: 10px;
}

.btn-menu:hover {
    background-color: #fff;
    color: #72C8C1;
}

form {
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 30px #00000024;
    height: 200px;
}